<p style="color: green"><%= notice %></p>
<div class="container  text-secondary text-center" style="margin-top: 65px">
  <div class="row">
    <div class="col" style="border-right: solid">
      <h2 class="text-secondary"><u><%= @person.salutation %><%= @person.first_name %> <%= @person.middle_name %> <%= @person.last_name %></u>  </h2>
     
        <p >SSN:<strong class="text-dark"> <%= @person.ssn %></strong></p>
        <p >Birthday:<strong class="text-dark"> <%= @person.birth_date %></strong></p>
        <p >Comments:<strong class="text-dark"><%= @person.comment %></strong></p>
      
      <div style="display: flex; justify-content: center;">
        <%= link_to "Edit", edit_person_path(@person), :class => 'btn btn-secondary btn-sm', id: "update-person"%>
        <%= button_to "Delete", @person, method: :delete, :class => 'btn btn-sm btn-danger', :style=> "margin-left: 5px"%>
      </div>
    </div>
    <div class="col p-4 m-2 number" style="">
      <h2 >Number</h2>
      
      <% @person.numbers.each do |number| %>
        <p class="border-top border-secondary">
        Phone Number:
          <strong class="text-dark"><%= number.phone_number %></strong>
          
        </p>
        <p>
        Comments:
          <strong class="text-dark"><%= number.comment %></strong>
          
        </p>
            
              <%= link_to "Edit", edit_person_number_path(@person, number), :class => "btn my-2 btn-secondary btn-sm", id: "update-number"%>
      
          <%= link_to "Delete", [number.person, number], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
          }, :class => "btn btn-sm my-2 btn-danger" %>
      <% end %>
          <div>
            <%= link_to "Create", new_person_number_path(@person), :class => "btn btn-sm mt-5 btn-primary", id: "create-number"%>
          </div>
      
    </div>
    <div class="col p-4 m-2" style="">
      <h2 class="text-secondary">Email</h2>
      <% @person.emails.each do |email| %>
        <p class="border-top border-secondary">
        Email Address:
          <strong class="text-dark"><%= email.email %></strong>
          
        </p>
        <p>
        Comments:
          <strong class="text-dark"><%= email.comment %></strong>
          
        </p>
            
                  <%= link_to "Edit", edit_person_email_path(@person, email), :class => "btn btn-sm my-2 btn-secondary", id: "update-email"%>
          <%= link_to "Delete", [email.person, email], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                }, :class => "btn btn-sm btn-danger" %>
      <% end %>
      <div>
  <%= link_to "Create", new_person_email_path(@person), :class => "btn btn-primary btn-sm mt-5", id: "create-email"%>
      </div>

  
    </div>
    
    <div class="col p-4 m-2">
      <h2 class="text-secondary">Address</h2>
      <% @person.addresses.each do |address| %>
        <p class="border-top border-secondary" style="">
        Street:
          <strong class="text-dark"><%= address.street %></strong>
          
        </p>
        <p>
        City:
          <strong class="text-dark"><%= address.town %></strong>
          
        </p>
        <p>
        Zipcade:
          <strong class="text-dark"><%= address.zip_code %></strong>
          
        </p>
        <p>
        State:
          <strong class="text-dark"><%= address.state %></strong>
          
        </p>
        <p>
        Country:
          <strong class="text-dark"><%= address.country %></strong>
          
        </p>
          <%= link_to "Delete", [address.person, address], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                }, :class => "btn btn-sm btn-danger" %>
        
        <%= link_to "Edit", edit_person_address_path(@person, address), :class => "btn m-2 btn-secondary btn-sm", id: "update-address" %>
      <% end %>
      <div>
        <%= link_to "Create", new_person_address_path(@person), :class => "btn mt-5 btn-primary btn-sm", id: "create-address"%>
      </div>
    </div>
  </div>