<p id="notice"><%= notice %></p>

<p>
  <strong>Phone number:</strong>
  <%= @number.phone_number %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @number.comment %>
</p>

<%= link_to 'Edit', edit_number_path(@number) %> |
<%= link_to 'Back', numbers_path %>
