<div class="">

<%= form_with  model: [@person, @address] do |form| %>
<p>
  <%= form.label :street %><br>
  <%= form.text_field :street %>
</p>
<p>
  <%= form.label :town %><br>
  <%= form.text_area :town %>
</p>
<p>
  <%= form.label :zip_code %><br>
  <%= form.text_area :zip_code %>
</p>
<p>
  <%= form.label :state %><br>
  <%= form.text_area :state %>
</p>
<p>
  <%= form.label :country %><br>
  <%= form.country_select :country %>
</p>
<p>
  <%= form.submit class: 'btn btn-primary btn-sm' %>
</p>
<% end %>



</div>